body {
	background-color: black;
}

p {
	color: white;
	font-weight: 700;
	padding: 10px;
	margin: 0 90px 0;
	font-size: 30px;
}

.box {
	background-color: green;
	max-width: 100px;
	margin: 50px 50px 0;
	padding: 50px 20px;
}

.slider {
	margin: 0 40px;
}
